body {
    display: grid;
    background-color: rgb(3, 3, 46);
    color: white;
    font-family: Courier New;
    place-content: center;
    height: 90vh;
}

span {
    background: rgb(105, 22, 199);
    font-size: 2em;
    border: 5px solid rgb(9, 252, 9);
    padding: 1em;
    border-radius: 2em;
    text-transform: uppercase;


}

@media (max-width: 300px) {
    body {
        background-color: rgb(3, 3, 46);;
    }

    span {
        background: rgb(105, 22, 199);
        font-size: 1em;
        border: 2px solid green;
        padding: 1em;
        border-radius: 2em;
        text-transform: uppercase;
    
    }

}
